<!DOCTYPE html>
<html>

<head>

<title>DPT-3</title>

<style>

body{
    background:#0f2027;
    color:white;
    font-family:Arial;
    padding:30px;
}

.box{
    background:#111;
    padding:20px;
    border-radius:15px;
    max-width:700px;
    margin:auto;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:8px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    background:cyan;
    font-weight:bold;
}

</style>

</head>

<body>

<div class="box">

<h1>📑 DPT-3 Filing</h1>

<input type="text" placeholder="Company Name">

<input type="text" placeholder="Financial Year">

<input type="number" placeholder="Outstanding Loan Amount">

<input type="date">

<button>
Cross Check
</button>

</div>

</body>

</html>